<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employees List</title>
</head>
<body>
	<h1>Employee Management System</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <a th:href="@{/employees/showFormForUpdate(employeeId=${employee.id})}">Update</a>
                <a th:href="@{/employees/delete(employeeId=${employee.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/employees/showFormForAdd">Add Employee</a>
</body>
</html>